.error {
			color: red;
		}
form {
	width: 50%;
    margin: auto;
    border-color: black;
    border-radius: 50px;
    background-color: silver;
    padding: 20px;
}
input[type=text] {
	margin-left: 20%;
}
input[type=radio] {
	margin-left: 20%;
}
input[type=email] {
	margin-left: 24%;
}
input[type=number] {
	margin-left: 17%;
}
input[type=password] {
	margin-left: 21%;
}
button {
	margin-left: 20%;
	background-color: red;
}
input[type=submit] {
	margin-left: 20%;
	background-color: red;
}